In [1]:
import pandas as pd
import os
from datetime import date
from datetime import datetime
import scipy.stats as st
from scipy.stats import linregress
import pymongo

import requests
from bs4 import BeautifulSoup 
import time
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [25]:
#reading the covid cases csv
all_cases= pd.read_csv("data/covid_19_data.csv")

all_cases

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
205946,205947,01/19/2021,Zaporizhia Oblast,Ukraine,2021-01-20 05:21:54,62492.0,738.0,39168.0
205947,205948,01/19/2021,Zeeland,Netherlands,2021-01-20 05:21:54,13031.0,149.0,0.0
205948,205949,01/19/2021,Zhejiang,Mainland China,2021-01-20 05:21:54,1316.0,1.0,1298.0
205949,205950,01/19/2021,Zhytomyr Oblast,Ukraine,2021-01-20 05:21:54,42758.0,707.0,37834.0
205950,205951,01/19/2021,Zuid-Holland,Netherlands,2021-01-20 05:21:54,224398.0,3153.0,0.0

In [3]:
all_cases.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [4]:
all_cases_df = all_cases[["ObservationDate",
          "Province/State",
          "Country/Region",
          "Confirmed"]]

all_cases_df

       ObservationDate     Province/State  Country/Region  Confirmed
0           01/22/2020              Anhui  Mainland China        1.0
1           01/22/2020            Beijing  Mainland China       14.0
2           01/22/2020          Chongqing  Mainland China        6.0
3           01/22/2020             Fujian  Mainland China        1.0
4           01/22/2020              Gansu  Mainland China        0.0
...                ...                ...             ...        ...
205946      01/19/2021  Zaporizhia Oblast         Ukraine    62492.0
205947      01/19/2021            Zeeland     Netherlands    13031.0
205948      01/19/2021           Zhejiang  Mainland China     1316.0
205949      01/19/2021    Zhytomyr Oblast         Ukraine    42758.0
205950      01/19/2021       Zuid-Holland     Netherlands   224398.0

[205951 rows x 4 columns]

In [5]:
#grabbing only US data
us_cases = all_cases_df.loc[all_cases_df['Country/Region'] == 'US']
us_cases

       ObservationDate Province/State Country/Region  Confirmed
31          01/22/2020     Washington             US        1.0
69          01/23/2020     Washington             US        1.0
117         01/24/2020     Washington             US        1.0
118         01/24/2020        Chicago             US        1.0
158         01/25/2020     Washington             US        1.0
...                ...            ...            ...        ...
205917      01/19/2021       Virginia             US   451076.0
205927      01/19/2021     Washington             US   289939.0
205930      01/19/2021  West Virginia             US   110820.0
205932      01/19/2021      Wisconsin             US   571268.0
205933      01/19/2021        Wyoming             US    49922.0

[19200 rows x 4 columns]

In [6]:
#changing date to datetime
us_cases['ObservationDate'] = pd.to_datetime(us_cases['ObservationDate'])
us_cases.head()
#dt = datetime.combine(date.today(), datetime.min.time())

C:\Users\sadik\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    ObservationDate Province/State Country/Region  Confirmed
31       2020-01-22     Washington             US        1.0
69       2020-01-23     Washington             US        1.0
117      2020-01-24     Washington             US        1.0
118      2020-01-24        Chicago             US        1.0
158      2020-01-25     Washington             US        1.0

In [7]:
#getting data for each month of 2020
#jan_2020 = us_cases [(01/01/2020 < us_cases['ObservationDate']) & us_cases['ObservationDate'] == 01/31/2020]
#jan_2020

In [8]:
#april_2020

In [9]:
#july_2020

In [10]:
#november_2020

In [11]:
#jan2021

In [12]:
#get the combined date_df which we will use to plot the graphs with data 
#from flights 

#finalcases_df

In [13]:
#getting and reading the flights data

In [20]:
world_flights_df = pd.read_csv("data/Flightsdata.csv")
world_flights_df

          DATE      2021     2020     2019
0     2/1/2021  628989.0  2054725  2078169
1    1/31/2021  859039.0  1948138  1938817
2    1/30/2021  617489.0  1658886  1593697
3    1/29/2021  774688.0  2159047  1534386
4    1/28/2021  750558.0  2085468  1862420
..         ...       ...      ...      ...
333   3/5/2020       NaN  2130015  2402692
334   3/4/2020       NaN  1877401  2143619
335   3/3/2020       NaN  1736393  1979558
336   3/2/2020       NaN  2089641  2257920
337   3/1/2020       NaN  2280522  2301439

[338 rows x 4 columns]

In [21]:
#jan_2020 = us_cases [(01/01/2020 < us_cases['ObservationDate']) & us_cases['ObservationDate'] == 01/31/2020]

In [23]:
jan_flight = world_flights_df [('01/01/2020' < world_flights_df['DATE']) & world_flights_df['DATE'] == '01/31/2020']
jan_flight.head(10)

C:\Users\sadik\anaconda3\envs\PythonData\lib\site-packages\pandas\core\computation\expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)

Empty DataFrame
Columns: [DATE, 2021, 2020, 2019]
Index: []

In [15]:
#seperating each month total flights from Jan2020 to april 2020